body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
/* color */
:root {
  --color-blue: #003f93;
  --colo-blue-2: #003479;
  --color-blue-3: #2069cb;
  --color-blue-hover: #6ad2ff45;
  --color-yellow: #f5ad00;
  --main-gray: #f8f8f8;
}
/* backgrond */
.bg-main-blue-2 {
  background-color: var(--colo-blue-2);
}
.bg-main-blue-3 {
  background-color: var(--color-blue-3);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--color-blue);
  color: #fff;
}
.nav-pills .nav-link.active svg path {
  fill: white;
}
.content-header {
  border-radius: 4px;
  background: #fff;
  margin: 0 14px 30px 14px;
  padding: 15px 23px;
  color: var(--colo-blue-2);
}
p {
  margin-bottom: 0;
}

.content-wrapper {
  background: #fff;
}

.card {
  margin-bottom: unset;
}

.nav-pills .nav-link:not(.active):hover {
  color: unset;
  background-color: var(--color-blue-hover);
}

.showDate {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  border: 0.5px solid #b3b3b3;
  line-height: 1.2;
  min-width: 111.68px;
  min-height: 34.4px;
}
.chooseDate {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  background: var(--color-blue);
  height: auto;
  line-height: 1.2;
  color: #fff;
}
.form-control-lg {
  width: 450px !important;
  flex-shrink: 0;
  border-radius: 4px !important;
  border: 1px solid #d2d2d2;
  color: #bebdbd;
  line-height: 20px;
  background-color: unset;
  margin-right: 4px;
  line-height: unset;
  font-size: unset;
  height: max-content;
}
.form-control:focus,
.custom-select:focus {
  border-color: var(--color-blue);
  /* background-color: unset; */
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
}
.btn,
.form-control-lg {
  padding: 8px 24px;
  line-height: normal;
}
.bg-main-blue {
  background: var(--color-blue);
}
.bg-filter {
  background: transparent;
  color: #000;
  border-color: #5c99c2;
}
.bg-filter:hover {
  background-color: #5c99c2;
}
.bg-back {
  background: #1f4762;
}
.modal-header {
  background: var(--color-blue);
}
.modal-header h5 {
  font-weight: bold;
  margin-top: 0;
}
.custom-select,
.btn {
  height: unset;
  font-size: unset;
}
.custom-select option {
  background: #fff;
  color: #1f4762;
}
.form-group {
  margin-bottom: 0;
}
/* .chooseFilter .custom-select {
  background:;
  height: unset;
  min-width: 107px;
  display: flex;
  justify-content: center;
  text-align: left;
  padding-left: 7px;
  padding-right: 7px;
} */
.custom-select {
  height: unset;
  min-width: 107px;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 8px 8px;
}
#statistic .card-body {
  overflow-x: unset;
}
.card-body {
  padding: 0 6.5px;
}
#example2 th:last-child {
  width: 85px;
}
.bg-filter-2 {
  border: 0.5px solid #1f4762;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  height: unset;
  background-color: unset;
}
.bg-filter-3 {
  border: 0.5px solid #1f4762;
  text-align: left;
  height: unset;
  background-color: unset;
  cursor: context-menu !important;
}
.bg-filter-2.custom-select:focus,
.bg-filter.custom-select:focus {
  border: 1px solid #1f4762;
}
.bg-filter.custom-select:focus {
  border: 1px solid #5c99c2;
}

ul {
  margin-bottom: unset;
  padding-inline-start: 20px;
}
.card-body {
  overflow-x: scroll;
}
.progress {
  background-color: #fff;
  height: 10px;
  margin-top: 16px;
}
.modal-dialog {
  max-width: 700px;
}
.btnTableActions {
  background-color: unset;
}
.createPromotion form {
  padding: 0 6.5px;
}
.createPromotion input,
.createPromotion textarea {
  height: 80px;
  padding: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #bcbcbc;
  background: unset;
  color: #9d9d9d;
}
.createPromotion input:focus-visible,
.createPromotion textarea:focus-visible {
  outline: unset;
}
.promotionType {
  margin-top: 50px;
  margin-bottom: 20px;
}
.promotionType .form-check {
  height: 50px;
}
.promotionSelect .custom-select {
  background: var(--color-blue) url("/dist/img/icon/arrow_down.png") right
    0.75rem center/20px 20px no-repeat;
  padding: unset;
  font-weight: bold;
  height: 46px;
  color: #fff;
}
.promotionSelect option {
  background-color: #fff;
  font-weight: normal;
}
.promotionSelect .form-control:focus {
  background-color: var(--color-blue);
  color: #fff;
}
.promotionStatistical {
  margin-top: 40px;
}
.promotionStatistical .title {
  margin-bottom: 25px;
  font-weight: 500;
}
.promotionImages input {
  height: unset;
  padding: 10px 0;
  border-radius: unset;
  border: unset;
}

.textFilter {
  font-weight: 500;
  color: #1f4762;
}

.fw-500 {
  font-weight: 500;
}
.table {
  margin-bottom: unset;
}
.btnPaddingPlus {
  padding: 13px 15px;
  padding: 13px 0;
}
.modal-body .form-group {
  margin-bottom: 1rem;
}

.daterangepicker {
  padding: 40px 40px 20px 40px;
  right: 15px !important;
}
.daterangepicker.opensright:before,
.daterangepicker.opensright:after {
  display: none;
}
.daterangepicker .ranges ul {
  width: 182px;
}
.daterangepicker .ranges li {
  font-size: 14px;
  padding: 16px;
}
.daterangepicker .ranges li.active {
  border-radius: 4px;
  background: var(--color-blue);
  color: white;
  font-weight: 700;
}
.daterangepicker.show-calendar .ranges {
  margin-right: 40px;
}
.daterangepicker td.in-range {
  background-color: #faf8ea;
  border-color: transparent;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background: var(--color-blue);
  color: #fff;
}
.daterangepicker .drp-selected {
  font-size: 16px;
}
.daterangepicker .drp-buttons .btn {
  margin-left: 23px;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 35px;
}
.daterangepicker .cancelBtn {
  background: #dbdbdb;
}
.daterangepicker .applyBtn {
  background: var(--colo-blue-2);
  border-color: transparent;
}
.daterangepicker .calendar-table table thead tr:first-child {
  height: 65px;
}
.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
  font-size: 14px;
  padding: 1px;
  height: auto;
  margin: 3px;
  cursor: default;
  width: 85px;
  border-radius: 4px;
  padding: 7px 0;
  text-align: center;
}
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  font-size: 14px;
  width: 40px;
  height: 30px;
}
.daterangepicker .drp-calendar.left {
  padding: 0 40px;
}
.daterangepicker .drp-calendar {
  max-width: unset;
}
.daterangepicker .drp-calendar.right {
  padding: 0;
}
.daterangepicker .drp-buttons {
  padding: 20px 0 0 0;
}
.brand-text {
  height: 33px;
  margin-left: 15px;
}
.brand-text img {
  height: 100%;
}
.content-header h1 {
  font-size: 24px;
}
h4 {
  font-size: 1.3rem;
}
.small-box h3 {
  font-size: 1.8rem;
}
.nav-link {
  padding: 16px 20px;
}
table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  vertical-align: middle;
}
table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.btn-tool {
  padding: 0.25rem 0.5rem !important;
}

.input-group {
  gap: 16px;
}
.form-check input[type="radio"] {
  display: none;
}
.form-check label {
  position: relative;
  cursor: pointer;
  font-style: italic;
}
.form-check label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 0;
  margin: 0 5px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 11px;
  border: 2px solid var(--color-blue);
  background-color: transparent;
}
.form-check input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 6px;
  transform: translate(-50%, -50%);
  content: " ";
  display: block;
  background: var(--color-blue);
}
#loginPage {
  height: 100vh;
  max-height: 1010px;
  width: 100%;
  overflow-x: hidden;
}
#loginPage > .row {
  height: 100%;
}
#loginPage .leftSide {
  height: 100%;
  padding: 23px 50px 23px 70px;
}
#loginPage .rightSide {
  height: 100%;
  background-color: #1f4762;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loginForm .form-group {
  width: 100%;
}
#loginForm .form-group label {
  font-weight: normal;
  margin-bottom: 0;
}
#loginForm .form-login {
  padding: 28px 22px;
  border: 1px solid #4a738f;
}
.border-yl {
  border: 2px solid var(--color-blue);
}

.main-header .nav-link {
  padding: 8px 16px;
}

.form-control {
  height: unset;
  padding: 7px 8px;
}

.bg-yl-2 {
  background-color: #ffefc0;
}

.btn-filter {
  background: transparent url(/dist/img/icon/arrow-down-nonebg.png) right
    0.75rem center/10px 10px no-repeat;
  height: unset;
  min-width: 107px;
  display: flex;
  justify-content: center;
  text-align: left;
  padding-left: 7px;
  padding-right: 30px;
  border: 1px solid #5c99c2;
}
.btn-filter:hover {
  background: transparent url(/dist/img/icon/arrow-down-white.png) right 0.75rem
    center/10px 10px no-repeat;
  background-color: #5c99c2;
  color: white;
}
.btn-filter.custom-select:focus {
  border-color: #5c99c2;
}
.modal .daterangepicker .drp-calendar.left {
  padding: 0 40px 0 0;
}
.menu-open .nav-link,
.nav-sidebar .nav-item .nav-link {
  display: flex;
  align-items: center;
}
.menu-open .nav-link p,
.nav-sidebar .nav-item p {
  line-height: 1;
  display: flex;
}
.menu-open .nav-link img,
.nav-sidebar .nav-item img {
  line-height: normal;
}
.nav-sidebar .nav-link > .right,
.nav-sidebar .nav-link > p > .right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.nav-sidebar .menu-is-opening > .nav-link i.right,
.nav-sidebar .menu-open > .nav-link i.right {
  transform: translateY(-50%) rotate(90deg);
}

.avatar-wrapper {
  position: relative;
  height: 176px;
  width: 176px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.avatar-wrapper:hover .upload-button {
  opacity: 1;
  z-index: 3;
}
.avatar-wrapper:hover .profile-pic {
  opacity: 0.5;
}
.avatar-wrapper .profile-pic {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}
.avatar-wrapper .profile-pic:after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 176px;
  background: #ecf0f1;
  color: #34495e;
  text-align: center;
}
.avatar-wrapper .upload-button {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc61980;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;
  cursor: pointer;
}
.avatar-wrapper .upload-button .fa-arrow-circle-up {
  position: absolute;
  font-size: 176px;
  top: -17px;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #34495e;
}
.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
  opacity: 0.9;
}

#userInfoTitle .rightSide {
  height: 1px;
  background: var(--color-blue);
  flex-grow: 1;
}
#userInfoDetail .form-group input {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #4a738f;
  font-size: 18px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: not-allowed;
}
#userInfoDetail .form-group label {
  font-weight: normal;
  font-size: 18px;
}
#userInfoDetail .item {
  padding-right: 22px;
  padding-left: 22px;
}
#userInfoDetail .row {
  margin-right: -22px;
  margin-left: -22px;
}

.page-item.active .page-link {
  background-color: #ffd700;
  border-color: #ffd700;
}
.brand-link .brand-image {
  margin-top: 0;
}

.page-link {
  color: #000;
}

#statistic .infomationCard .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
}
#statistic .infomationCard .card-header::after {
  display: none;
}
#statistic .infomationCard .card-header select option {
  background: #fff;
  color: #000;
}
#statistic .infomationCard .card {
  height: 100%;
}
#statistic .infomationCard .card-body {
  padding: 15px;
  flex-grow: 1;
}
#statistic .infomationCard .card-body .item {
  font-size: 16px;
  line-height: 1.8;
}
#statistic .infomationCard .card-body .item .col-5 p {
  text-decoration: underline;
}
